<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Криптография</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style type="text/css">
    nav.navbar .dropdown:hover > .dropdown-menu {
 display: block; 
} 
.dropdown-item:active{
    background-color: #c9ced4;
}
   </style>
   <link rel="stylesheet" href="css/main.css">
</head>

    <body class="d-flex flex-column min-vh-100">
        <div class="wrapper flex-grow-1">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                <a class="navbar-brand" href="/"><img src="/images/kniit.png" width="30" height="30" class="d-inline-block align-top" alt="КНиИТ">Информационная безопасность</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="/home" id="navbarDropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                        Криптография
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/substitution"><b>Подстановочные шифры</b></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/caesar">Шифр Цезаря</a>
                        <a class="dropdown-item" href="/atbash">Шифр "Атбаш"</a>
                        <div class="dropdown-divider"></div>
                        <!--<a class="dropdown-item" href="/permutations"><b>Перестановочные шифры</b></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/kepler">Шифры Кеплера и Галилея</a>
                        <a class="dropdown-item" href="/routeCipher">Маршрутное шифрование</a>
                        <div class="dropdown-divider"></div>-->
                        <a class="dropdown-item" href="/decypher"><b>Пробуем расшифровать</b></a>
                      </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/about">О проекте <span class="sr-only">(current)</span></a>
                      </li>
                  </ul>
                </div>
            </div>
              </nav>
       
       <div class="container">
    </br>
    </br>
