<%- include('../_partial/_header'); -%>

<h1 align="center"><b>О проекте</b></h1>
    <br>
    <div align="justify" style = "text-indent: 25px;font-size: 20px;" >
        <p>
            Данный сайт разработан Конновой Анной для учебных целей
        </p>

        <p>Подробнее о кафедре можно узнать на официальном <a href="https://www.sgu.ru/structure/computersciences/theorcompsafe/speciality090301" style="color: blue;">сайте</a> университета.</p>

    </div>

<%- include ('../_partial/_footer'); -%>