<%- include('../_partial/_header'); -%>

<h1 align="center"><b>Шифр Цезаря</b></h1>
<br>
<div align="justify" style = "text-indent: 25px;font-size: 20px;">
<p><i>Шифр Цезаря</i> — это вид шифра подстановки, в котором каждый символ в открытом тексте заменяется символом
     находящимся на некотором постоянном числе позиций левее или правее него в алфавите. Например, в шифре
      со сдвигом 3 А была бы заменена на Г, Б станет Д, и так далее.</p>

<p>Используемое преобразование обычно обозначают как ROTN, где N — сдвиг, ROT — сокращение от слова ROTATE,
     в данном случае «циклический сдвиг». Число разных преобразований конечно и зависит от длины алфавита.
      Для русского языка возможно 32 разных преобразования (преобразования ROT0 и ROT33 сохраняют исходный текст,
       а дальше начинаются уже повторения).</p>
</div>

<div class="body1">
    <div id="header1" >Открытый текст</div>

    
        <select id="lang" name="lang">
            <option value="rus">Русский</option>
            <option value="eng">Английский</option>
        </select>

        <textarea id="open-text" placeholder="Введите открытый текст"></textarea>
    

    <div><button class="circle" id="swap-wrap" ><img id ="imgCircle" alt="" src="/images/swap_vertical_circle-24px.svg" style="vertical-align:middle" /></button></div>
    <div id="header2">Шифротекст</div>
    <textarea id="cipher-text" placeholder="Введите шифротекст текст"></textarea>
    <div class="box-with-actions">
    <section class="actions">

        <div id="headerForWord">Кодовое слово</div>
        <div><input id="wordK"/></div>
        <div id="headerForK">Ключ</div>
        <div> <input id="numberK"/></div>
        <button class="butArea" id="encrpt-btn_wtf">Зашифровать</button>
        <button class="butArea" id="decrpt-btn_wtf">Расшифровать</button>

    </section>

    <button onclick="Calculate()" class="butArea" id="showfreq" onmousedown="viewDiv()">Частотный анализ</button>
</div>
    <div id="demo"> </div>

    <script>
        function viewDiv(){
        document.getElementById("demo").style.display = "block";
        };
    </script>

    <script>
function Calculate(){
var total=0;
var freqarr= [];
var alpfreq=[];
var text = document.getElementById('cipher-text').value;
for(var i=0;i<text.length;++i){
    var letter=text.charAt(i).toUpperCase();
    var letters = /[АБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯABCDEFGHIJKLMNOPQRSTUVWXYZ]/;
    if (!letters.test(letter))
    continue;
    if (letter =="Е" || letter == "Ё")
            letter = "Е,Ё";
    if (letter =="ь" || letter == "ъ")
            letter = "ь,ъ";
    if (undefined === freqarr[letter])
            freqarr[letter]=1;
    else
            freqarr[letter]=freqarr[letter]+1;
    total++;
    alpfreq[i]=letter;
}

var tuples = [];
for (var key in freqarr) tuples.push([key, freqarr[key]]);

tuples.sort(function(a, b) {
    a = a[1];
    b = b[1];
    return a < b ? 1 : (a > b ? -1 : 0);
});

var rec=[];
for (var i = 0; i<tuples.length;i++)
{    var key = tuples[i][0];
    var value = tuples[i][1];
   var s =value/total;
   rec[i]=[key,s];
}
var items = '';
for(var i=0;i<rec.length;i++){
items += rec[i][0]+ ' - ' + rec[i][1] + ' ';
items+='<\p>'}
document.getElementById('demo').innerHTML = items;
}

    </script>
</div>
<script src="/js/caesar.js"></script>

<%- include ('../_partial/_footer'); -%>