<%- include ('../_partial/_header') -%>

<div align="justify" style = "text-indent: 25px;font-size: 20px;">
    <p><b>Криптография</b> – наука о методах обеспечения конфиденциальности, целостности данных, аутентификации, а также невозможности отказа от авторства.</p>
    <p align="center"><b>Основная терминология:</b></p>
    <ul>
        <li>Открытый текст — исходный текст, подлежащий шифрованию, либо получившийся в результате расшифровки. Может быть прочитан без без расшифровки.</li>
        <li>Шифротекст, шифртекст — результат операции шифрования. Часто также используется вместо термина «криптограмма», хотя последний подчёркивает сам факт передачи сообщения, а не шифрования.</li>
        <li>Ключ — секретная информация, используемая криптографическим алгоритмом при зашифровании/расшифровании сообщений, постановке и проверке цифровой подписи, вычислении кодов аутентичности. При использовании одного и того же алгоритма результат шифрования зависит от ключа.</li>
        <li>Шифрование — обратимое преобразование информации в целях сокрытия от неавторизованных лиц, с предоставлением, в это же время, авторизованным пользователям доступа к ней. Шифрование состоит из двух взаимно обратных процессов: зашифрование и расшифрование.</li>
        <li>Асимметричный шифр, шифр с открытым ключом — шифр, в котором используются два ключа, шифрующий и расшифровывающий. При этом, зная лишь ключ зашифровывания, нельзя расшифровать сообщение, и наоборот.</li>
        <li>Открытый ключ — тот из двух ключей асимметричной системы, который свободно распространяется. Шифрующий для секретной переписки и расшифровывающий — для электронной подписи.</li>
        <li>Секретный ключ, закрытый ключ — тот из двух ключей асимметричной системы, который хранится в секрете.</li>
    </ul>
</div>
<%- include ('../_partial/_footer') -%>