<%- include ('../_partial/_header') -%>

    <h1 align="center"><b>Информационная безопасность</b></h1>
    <br>
    <div align="justify" style = "text-indent: 25px;font-size: 20px;" >
        <p>
        Информационная безопасность в общем смысле — практика предотвращения несанкционированного доступа,
        использования, раскрытия, искажения, изменения, исследования, записи или уничтожения информации. 
        Это универсальное понятие применяется вне зависимости от формы, которую могут принимать данные.
        Основная задача информационной безопасности — сбалансированная защита конфиденциальности, целостности 
        и доступности данных, с учётом целесообразности применения и без какого-либо ущерба производительности организации.
        </p>

        <p>В целом, понятие "информационная безопасность" имеет множество определений, раскрывающих его с точки зрения субъектов 
        (человек, организация, государство), объектов (информация различного содержания и в различном представлении) и прочих отношений.
        В ГОСТ Р ИСО/МЭК 27000-2012 приведено следующее определение:</p>

        <p>
            <i>Информационная безопасность – сохранение конфиденциальности, целостности и доступности информации. Также сюда могут быть 
            включены другие свойства, такие как подлинность, подотчетность, неотказуемость и достоверность.</i>
        </p>

        <p>Обеспечение информационной безопасности является комплексной задачей. Как правило, методы ее обеспечения разделяют на 3 категории: 
            <i>правовые</i>, <i>организационные</i> и <i>технические</i>.
        </p>
    </div>
<%- include ('../_partial/_footer') -%>