<%- include('../_partial/_header'); -%>

<h1 align="center"><b>Перестановочные шифры</b></h1>
    <br>
<div align="justify" style = "text-indent: 25px;font-size: 20px;">
<p>Шифр перестановки — это метод симметричного шифрования, в котором элементы исходного открытого текста меняют местами. Элементами текста могут быть отдельные символы, пары букв, тройки букв, комбинирование этих случаев и так далее. Типичными примерами перестановки являются анаграммы. В классической криптографии шифры перестановки можно разделить на два класса:<p>
    <ul>
        <li>Шифры одинарной (простой) перестановки — при шифровании символы открытого текста перемещаются с исходных позиций в новые один раз.</li>
        <li>Шифры множественной (сложной) перестановки — при шифровании символы открытого текста перемещаются с исходных позиций в новые несколько раз.</li>
    </ul>
</div>

<%- include ('../_partial/_footer'); -%>