<%- include('../_partial/_header'); -%>

<h1 align="center"><b>Подстановочные шифры</b></h1>
    <br>
    <div align="justify" style = "text-indent: 25px;font-size: 20px;" >
        <p>Шифр подстановки — это метод шифрования, в котором элементы 
            исходного открытого текста заменяются зашифрованным текстом 
            в соответствии с некоторым правилом. Элементами текста могут 
            быть отдельные символы (самый распространённый случай), пары
             букв, тройки букв, комбинирование этих случаев и так далее.</p>
    </div>

<%- include ('../_partial/_footer'); -%>